:root {
  --link-color: #0969da;
  --link-hover: #0550ae;
}

@media (prefers-color-scheme: dark) {
  :root {
    --link-color: #58a6ff;
    --link-hover: #79c0ff;
  }
}

/* Tool wrapper */
.raw-editor-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0.5rem;
}

/* Container styles */
.raw-editor-container {
  padding: 0.5rem;
  height: 100%;
  overflow: auto;
}

/* Style automerge URLs as clickable links */
.automerge-url {
  color: var(--link-color);
  cursor: pointer !important;
  text-decoration: underline;
}

.automerge-url:hover {
  color: var(--link-hover);
}
