/* Bento — based on pale rose, cute gay colours for rabbits */
[theme="bento"] {
	color-scheme: light;
	--studio-fill: #ffffff;
	--studio-line: #000000;
	--studio-primary: #cc1336;
	--studio-secondary: #09c598;
	--studio-danger: #fa2573;
	--studio-warning: #cd1669;
	--studio-added: #09c598;
	--studio-deleted: #fa2573;
	--studio-modified: #3366ff;
	--studio-link: #3366ff;
	--studio-selection-fill: #ffe9ed;

	/* pale rose pink */
	--sideboard-fill: #ffe9ed;
	--sideboard-fill-offset: color-mix(
		in oklab,
		var(--sideboard-fill),
		oklch(0 0 0 / 1) 5%
	);

	--text-editor-fill: #ffffff;
	--text-editor-line: #000000;
	--text-editor-cursor-fill: #ff2a50;
	--text-editor-selection-fill: #ffe9ed;
	--text-editor-selection-line: #000000;

	--text-editor-active-line-fill: #cc133608;
	--text-editor-active-line-line: var(--text-editor-line);
	--text-editor-active-line-fill--gutter: #fff0f3;
	--text-editor-active-line-line--gutter: var(--text-editor-line);

	--text-editor-gutter-fill: #fff9fd;
	--text-editor-gutter-line: #4b5662;
	--text-editor-gutter-border: #ffe9ed;
	--text-editor-gutter-font-size: 0.8em;
	--text-editor-gutter-font-size--line-numbers: 0.8em;

	--text-editor-tooltip-fill: #ffe9ed;
	--text-editor-tooltip-color: #000000;

	--syntax-comment: #4b5662;
	--syntax-style-comment: italic;

	--syntax-doc-comment: #444444;
	--syntax-style-doc-comment: italic;

	--syntax-meta: #333333;
	--syntax-invalid: #fa2573;

	--syntax-operator: #09c598;
	--syntax-punctuation: #333333;

	--syntax-bool: #3366ff;
	--syntax-weight-bool: bold;

	--syntax-atom: #407acd;
	--syntax-weight-atom: bold;

	--syntax-keyword: #6d1cb9;

	--syntax-type-name: #cd1669;
	--syntax-weight-type-name: bold;

	--syntax-class-name: #8a3ecc;
	--syntax-weight-class-name: bold;

	--syntax-type-operator: #09c598;

	--syntax-function--variable-name: #09c598;
	--syntax-function--property-name: #09c598;

	--syntax-variable-name: #000000;
	--syntax-definition--variable-name: #6727bf;

	--syntax-string: #cc1336;
	--syntax-fill-string: transparent;

	--syntax-number: #407acd;
	--syntax-integer: #407acd;
	--syntax-float: #407acd;

	--syntax-escape: #fa2573;
	--syntax-regexp: #407acd;
	--syntax-special--string: #cc1336;

	--syntax-tag-name: #22a6cd;
	--syntax-angle-bracket: #333333;

	--syntax-attribute-name: #cc1336;
	--syntax-style-attribute-name: italic;

	--syntax-namespace: #22a6cd;

	--syntax-strong: #000000;
	--syntax-weight-strong: bold;

	--syntax-emphasis: #000000;
	--syntax-style-emphasis: italic;

	--syntax-heading: #09c598;
	--syntax-weight-heading: bold;

	--syntax-link: #3366ff;
	--syntax-style-link: underline;

	--syntax-quote: #4b5662;
	--syntax-list: #000000;

	--syntax-inserted: #09c598;
	--syntax-deleted: #fa2573;
	--syntax-changed: #3366ff;

	--syntax-content-separator: #ffe9ed;
}
