/* Tokyo Night — inspired by the lights of downtown Tokyo */
[theme="tokyo-night"] {
	color-scheme: dark;
	--studio-fill: #1a1b26;
	--studio-line: #a9b1d6;
	--studio-primary: #7aa2f7;
	--studio-secondary: #7dcfff;
	--studio-danger: #f7768e;
	--studio-warning: #e0af68;
	--studio-added: #9ece6a;
	--studio-deleted: #f7768e;
	--studio-modified: #7aa2f7;
	--studio-link: #7aa2f7;
	--studio-selection-fill: #283457;

	--text-editor-fill: #1a1b26;
	--text-editor-line: #a9b1d6;
	--text-editor-cursor-fill: #c0caf5;
	--text-editor-selection-fill: #283457;
	--text-editor-selection-line: #a9b1d6;

	--text-editor-active-line-fill: color-mix(
		in oklch,
		var(--text-editor-fill-offset-10),
		transparent 80%
	);
	--text-editor-active-line-fill--gutter: var(--text-editor-fill-offset-20);

	--text-editor-gutter-fill: #1a1b26;
	--text-editor-gutter-line: #3b4261;
	--text-editor-gutter-border: #1a1b26;
	--text-editor-gutter-fill--line-numbers: #1a1b26;
	--text-editor-gutter-line--line-numbers: #3b4261;

	--text-editor-tooltip-fill: #24283b;
	--text-editor-tooltip-color: #c0caf5;

	--syntax-comment: #565f89;
	--syntax-style-comment: italic;

	--syntax-doc-comment: #565f89;
	--syntax-style-doc-comment: italic;

	--syntax-meta: #565f89;
	--syntax-invalid: #f7768e;

	--syntax-operator: #89ddff;
	--syntax-punctuation: #a9b1d6;

	--syntax-bool: #ff9e64;
	--syntax-weight-bool: bold;

	--syntax-atom: #ff9e64;
	--syntax-weight-atom: bold;

	--syntax-keyword: #bb9af7;

	--syntax-type-name: #2ac3de;
	--syntax-weight-type-name: bold;

	--syntax-class-name: #2ac3de;
	--syntax-weight-class-name: bold;

	--syntax-type-operator: #89ddff;

	--syntax-function--variable-name: #7aa2f7;
	--syntax-function--property-name: #7aa2f7;

	--syntax-variable-name: #c0caf5;
	--syntax-definition--variable-name: #c0caf5;

	--syntax-string: #9ece6a;
	--syntax-fill-string: transparent;

	--syntax-number: #ff9e64;
	--syntax-integer: #ff9e64;
	--syntax-float: #ff9e64;

	--syntax-escape: #89ddff;
	--syntax-regexp: #b4f9f8;
	--syntax-special--string: #9ece6a;

	--syntax-tag-name: #f7768e;
	--syntax-angle-bracket: #a9b1d6;

	--syntax-attribute-name: #bb9af7;
	--syntax-style-attribute-name: normal;

	--syntax-namespace: #2ac3de;

	--syntax-strong: #c0caf5;
	--syntax-weight-strong: bold;

	--syntax-emphasis: #c0caf5;
	--syntax-style-emphasis: italic;

	--syntax-heading: #7aa2f7;
	--syntax-weight-heading: bold;

	--syntax-link: #7aa2f7;
	--syntax-style-link: underline;

	--syntax-quote: #565f89;
	--syntax-list: #a9b1d6;

	--syntax-inserted: #9ece6a;
	--syntax-deleted: #f7768e;
	--syntax-changed: #e0af68;

	--syntax-content-separator: #3b4261;
}
